@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 10px;

    --active-item-color: #575656;
    --line-color: #7a7978;
    --item-color: #989797;
    --creativity-outline-color: #6f6e6d;
    --creativity-p-color: #f5f2f0;

    --arrow-color: #656464;
    --bottom-p-color: #080808;
    --connector-color: #c6c4c3;
    --dot-color: #828282;

    /* Background Color */
    --right-section-bgcolor: #f5f2f0;
    --creativity-bgcolor: #333333;

}

body{
    /* overflow-y: hidden; */
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background-color: var(--right-section-bgcolor);
}


.container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    /* background-color: var(--right-section-bgcolor); */
}

.left-section{
    width: 40%;
    height: 100vh;
    background-image: url(../assets/hero-section-big.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    position: fixed;
    top: 0;
}

.left-section #logo{
    margin: 2rem 0 0 3rem;
    width: 11rem;
    height: 4rem;
    
}

.right-section{
    position: absolute;
    right: 0;
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem 4rem 3rem 2rem;
    background-color: var(--right-section-bgcolor);
}

.right-section .navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4rem;
}

.right-section .line{
    width: 100%;
    height: 0;
    outline: 1px solid var(--line-color);
}

.logos{
    width: 30%;
}

#logos-logo, .bar{
    display: none;
}

.right-section nav{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 0;
}

.navbar #item{
    color: var(--item-color);
    font-weight: bold;
}

.navbar #active-item{
    color: var(--active-item-color);
    font-size: 1.5rem;
    font-weight: bold;
}

nav #item{
    font-size: 1.5rem;
    font-weight: bold;
}

.details{
    /* margin-top: 3rem; */
    display: flex;
    justify-content: space-between;
}

.detail-heading{
    display: flex;
    flex-direction: column;
    font-size: 7rem;
    height: fit-content;
    font-family: "Merriweather", serif;
}

.upper{
    color: transparent;
    -webkit-text-stroke: 1px var(--bottom-p-color);
}

.lower{
    margin-left: 16rem;
    color: var(--creativity-bgcolor);
}

.detail{
    align-self: self-end;
    font-size: 2.5rem;
    line-height: 3rem;
    color: var(--item-color);
    width: 20%;
    padding-bottom: 3rem;
    padding-left: 3rem;
}

.social-icons{
    height: 26rem;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-content: space-between; */
}

.social-icons img{
    width: 2.5rem;
    height: 2.5rem;
    align-self: flex-end;
}

.detail-end{
    display: flex;
    justify-content: flex-end;
}

button{
    border: none;
    height: 5rem;
    width: 25rem;
    background-color: #080808c7;
    color: white;
    font-weight: bold;
    font-size: 1.6rem;
    justify-self: flex-end;
}

/* Bottom Section */
.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* margin-top: 3rem; */
}
.row1{
    display: flex;
    flex-direction: row;
}

.vertical-line{
    height: 277px;
    margin-top: 9px;
    width: 0;
    outline: 1px solid var(--line-color);
}

.row1 .right-side{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.active-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: relative;
    right: .8rem;
}

.active-text #dot{
    width: 1.5rem;
    height: 1.5rem;
    background: #000;
}

.active-text p{
    font-size: 2rem;
}

.text{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    position: relative;
    right: .5rem;
}


#dot{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: #828282;
}


.text p{
    font-size: 1.6rem;
    color: #828282;
}

.row2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row2 h2{
    font-size: 6rem;
    line-height: 1px;
    font-family: "Merriweathe";
}
.row2 p{
    font-size: 1.5rem;
    width: 36rem;
    font-weight: 500;
}

.row2 img{
    width: 36.4rem;
} 

.row3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* .row2{
    display: flex;
    flex-direction: column;
    justify-content: end;
}



/* Media Queries */
/* For 110px */
@media screen and (max-width: 1100px) {
    .container{
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }

    .left-section, .right-section {
        width: 100%;
        position: relative;
        height: 77vh;
    }

    .left-section img{
        display: none;
    }

    .right-section{
        width: 100%;
        height: 70vh;
        position: relative;
        padding: 2rem;
    }

    .left-section #main-image{
        width: 70%;
        height: auto;

    }
}

@media screen and (max-width: 768px){
    .container{
        gap: 5rem;    
    }

    .right-section{
        gap: 3rem;
    }

    .details{
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }

    /* .details .detail-heading{
        width: 100%;
    } */

    .details .detail{
        width: 100%;
        text-align: center;
    }

    .detail-heading{
        font-size: rem;
        letter-spacing: 5px;
    }

    .lower{
        margin-left: 12rem;
    }

    .social-icons{
        display: flex;
        flex-direction: row;
        height: fit-content;
        width: 50%;
    }

    button{
        margin: 0 auto;
        width: 45%;
        font-size: 1.2rem;
    }

    .bottom{
        flex-direction: column;

    }

    .row1{
        margin: 0 auto;
    }

    .row2{
        gap: 3rem;
        text-align: center;
    }

    .row2 p{
        width: 75%;
        margin: 0 auto;
    }

    .row2 img{
        width: 80%;
        margin: 0 auto;
    }

    .row3{
        display: none;
    }

}

@media screen and (max-width: 505px){
    .right-section{
        padding: 1rem;
    }
    .line, .logos{
        display: none;
    }

    .right-section nav{
        width: 100%;
    }

    /* Details Section */
    .detail-heading{
        font-size: 3rem;
        letter-spacing: 5px;
    }

    .row1{
        margin: 0 auto;
    }

    .bottom{
        gap: 2rem;
        margin-bottom: 2rem;
    }

    .row2{
        gap: 3rem;
    }

    .row2 p{
        width: 100%;
    }

    
}